//@import 'nib/reset'
//@import 'nib/buttons'

//@import 'inputnib'
//@import 'selectmenu'
//@import 'boilerplate.css'

@import 'boilerplate'
boilerplate()


//end reset stylesheet
bgcol = #002a00
bodycol = #ccc9be
linkcol = #ccff77
linkHov = #efa
hcol = #ddd


body
  font normal 100% Arial, Verdana, sans-serif
  color bodycol
  line-height 1.25em
  background-color darken(bgcol,25%)
  
h1,h2,h3,h4,h5,h6
  text-shadow #000 1px 1px 1px
  font-weight bold
  color hcol
  
a,input
  color linkcol
  text-decoration none
  &:hover
    color linkHov
    cursor pointer
a:visited
  color linkcol

